<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ProjectControl</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.ProjectControlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectControl</servlet-name>
		<url-pattern>/projectcontrol</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Tasks</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.TasksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tasks</servlet-name>	
		<url-pattern>/tasks</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>Teams</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.TeamsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Teams</servlet-name>
		<url-pattern>/teams</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditTeam</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.EditTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTeam</servlet-name>
		<url-pattern>/editteam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateTeam</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.CreateTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTeam</servlet-name>
		<url-pattern>/createteam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateTask</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.CreateTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTask</servlet-name>
		<url-pattern>/createtask</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddMember</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.AddMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMember</servlet-name>
		<url-pattern>/addmember</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>CallBackServlet</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.CallBackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallBackServlet</servlet-name>
		<url-pattern>/callbackservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DocumentsCallBackServlet</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.DocumentsCallBackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentsCallBackServlet</servlet-name>
		<url-pattern>/documentscallbackservlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SaveMemberServlet</servlet-name>
		<servlet-class>org.cvut.wa2.projectcontrol.SaveMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveMemberServlet</servlet-name>
		<url-pattern>/savemember</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>ProjectControl</welcome-file>
	</welcome-file-list>
</web-app>
